{% import "_includes/forms" as forms %}
<hr>

<div class="indent">
  {{ forms.lightswitchField({
      label: 'Sync Changes',
      instructions: 'Changes to fields with matching content will be synced to other sites.',
      name: name,
      on: value,
  }) }}

  {{ forms.lightswitchField({
      label: 'Overwrite',
      name: name,
      on: value,
      instructions: 'Replace all content in other sites with the current content. For your protection, this setting will not persist after saving.',
  }) }}
</div>

<hr>
