{% import "_includes/forms" as forms %}

{% set localeSettings = settings.localeDefaults[localeId] %}
{% set enabled = localeSettings.enabled|default %}
<div id='localeSync' class='pane meta'>
  {{ forms.lightswitchField({
    label: 'Sync Locales'|t,
    id: 'localeSync-toggle',
    name: 'localeSync[enabled]',
    on: enabled,
    toggle: '#localeSync-options',
  }) }}
  <div class="meta {% if not enabled %}hidden{% endif %}" id="localeSync-options">
    {% set label %}
      {{ 'Overwrite'|t }}
      <div class="info">
        <span class="warning">All translatable fields in other locales will be <strong>overwritten</strong> with this content.</span>
        Without this selection, only fields with identical content (before these edits) will be synced.
      </div>
    {% endset %}

    {{ forms.lightswitchField({
      label: label,
      name: 'localeSync[overwrite]',
      id: 'localeSync-overwrite',
      on: localeSettings.overwrite|default,
    })}}

    {# Intentionally passing non-empty array to uncheck "all" #}
    {{ forms.checkboxSelectField({
      label: "Locales"|t,
      id: 'localeSync-targets',
      name: 'localeSync[targets]',
      options: craft.localeSync.getLocaleInputOptions(null, [localeId]),
      values: localeSettings.targets|default(['']),
    })}}
  </div>
</div>
