{% import "_includes/forms" as forms %}
{% if craft.i18n.getSiteLocales|length > 1 %}
  {% for locale in craft.i18n.getSiteLocales %}
    <h2>{{ locale.name }}</h2>

    {# Intentionally passing non-empty array to uncheck "all" #}
    {{ forms.checkboxSelectField({
      label: 'Default Locales for Sync',
      instructions: 'The default selections when editing elements. When editing via the HUD, these defaults will be used.'|t,
      name: "defaultTargets[#{locale.id}]",
      options: craft.localeSync.getLocaleInputOptions(null, [locale.id]),
      values: settings.defaultTargets[locale.id]|default(['']),
    })}}
    <hr>
  {% endfor %}
{% else %}
  <h2>No Locales Found</h2>
  <p>Multiple locales are required to configure Locale Sync.</p>
  <a class="btn" href="{{ url('settings/locales') }}">Add locales</a>
{% endif %}
